<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/signup.css" />
  <title>Browser</title>
</head>
<body>
    <div id="top-container">
        <div class="mode-switch-container">
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
        </div>
    </div>
    <!-- <img src="" alt="Image description" style="width: 100%; height: auto; position: absolute; top: 0; left: 0; z-index: -1;"> -->
    <div class="cent-div">
        <h1>Create your account</h1>
        <div class="email-entry">
            <div class="label">Email</div>
            <input type="email" class="email-input" placeholder="Enter your email address"></input>
            <div class="label">Password</div>
            <input type="password" class="password-input" placeholder="Enter your password"></input>
            <div class="check">
                <input class="check-box" type="checkbox" name="" id="">
                <p>Remember Password</p>
            </div>
            <button>Continue</button>
            <p>Already have an account? <a href="login.html" style="color: green">Login</a></p>
        </div>
    </div>
    <script src="../scripts/login.js"></script>
</body>

</html>
